<%- include('includes/head') %>
<%- include('includes/nav') %>


<div class="container">
  <div class="row">
      <div class="col-lg-2"></div>
      
      <div class="col-lg-8 my-4 text-center">
          <h1 class="">Agenda</h1>  
          <p class="lead">Seus contatos</p> 
          
          <div class="row">
            <div class="col">
                <div class="alert alert-danger">Erro de listagem</div>
            </div>
          </div>
          
          <div class="responsive-table">
            <table class="table">
                <tr>
                    <td>Gustavo</td>
                    <td>Barros</td>
                    <td>(61)9542-1548</td>
                    <td>Gustavo@gmail.com</td>
                </tr>

                <tr>
                    <td>Gustavo</td>
                    <td>Barros</td>
                    <td>(61)9542-1548</td>
                    <td>Gustavo@gmail.com</td>
                </tr>

                <tr>
                    <td>Gustavo</td>
                    <td>Barros</td>
                    <td>(61)9542-1548</td>
                    <td>Gustavo@gmail.com</td>
                </tr>
            </table>
          </div>
      
        </div> 
      
      <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>